#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.stepCounterCard {
    font-family: "sans-serif";
    max-width: 500;
    margin: "auto";
    padding: 20;
    border: "1px solid #ccc";
    border-radius: 8;
    margin-top: 20;
    margin-bottom: 20;
}

#currCount {
   font-size: "2em";
   text-align: "center"; 
   margin: "20px 0";
}

#currCount span{
   font-weight: bold;
}

.stepCounterOptions{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.buttonPadding{
  padding: 10px 15px;
}

#resetCounter {
  background-color: #f44336;
  color: white;
}